#root {
  font-family: "Poppins", sans-serif;
}

.MuiRating-icon {
  font-size: 25px;
  color: rgb(235, 157, 48);
}
.buttonEdit {
  background-color: blue !important;
  color: white !important;
  border-radius: 10px !important;
  padding: 0 20px !important;
  margin-left: 10px !important;
}

.buttonEdit:hover {
  background-color: #ed3434 !important;
  transition: 0.5s;
}
.basket {
  color: rgb(170, 38, 38);
}
.basket:hover {
  color: rgb(43, 154, 26);
  transition: 0.5s;
}
a {
  text-decoration: none;
}

.searchBar {
  width: 300px;
}

.MuiPaper-root {
  padding: 7px;
}

.css-80r6qc-MuiListItem-root {
  padding: 0px !important;
  margin-top: 5px;
}
.MuiPagination-ul {
  margin-top: 20px !important;
}
.detailInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  padding: 0 20px;
  margin-left: 10px;
}
.singlePageStyle {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.MuiDrawer-paper {
  margin-top: 77px;
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100px;
}

.styleappbar {
  background-color: #fff !important;
  color: #369a1a;
  width: 88%;
  margin: auto !important;
  display: flex;
}

.CartI {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.styleformbutton {
  margin-top: 30px !important;
  padding: 10px 0 !important;
  border-radius: 20px !important;
  border: none;
  background-color: blue !important;
  color: white !important;
  font-size: 20px !important;
  letter-spacing: 5px !important;
}
.formBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 2px solid #8989c7;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
}
.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  width: 300px !important;
}
.css-1ub4t4n {
  justify-content: center;
}

.SingleProductImg {
  width: 30%;
}
